/* body {
    margin: 0px;
    padding: 0px;
} */

#input1:focus {
    background: pink;
    font-size: 25px;
}

#input2:disabled {
    background: #dddddd;
}

.input3:checked {
    background: orangered;
    height: 60px;
    width: 60px;
}

p:first-of-type {
    background-color: purple;
}

p:last-of-type {
    background-color: purple;
}

p:first-child {
    background: red;
}

p:empty {
    width: 100px;
    height: 20px;
    background: #ff00ff;
}

P {
    color: #000000;
}

:not(p) {
    background-color: lightblue;
}

:root {
    background: pink;
}
 input[type="checkbox"] {
        background-color: #002B4E !important;
        accent-color: orange;
    }
     input[type="radio"] {
        background-color: #002B4E !important;
        accent-color: orange;
    }